h1{text-align:center;}
#p1{text-align:center;font-style:italic;font-family:Brush Script MT,cursive;}
html{background-image:url('Space2.jpg');color:white;}
a{color:white;padding:15px;font-weight:bold;}
#visi{text-align:center;}
#hs{color:rgb(100,5,4);font-family: "Playfair Display", serif;}
#page{background-color:green;}
#scientists{color:white;padding:20px;font-weight:bold;}