h1{text-align:center;}
html{background-color:rgb(14,2,35);color:white;}
#page{background-color:green;}
#home{color:white;padding:20px;font-weight:bold;}
#about{color:white;font-weight:bold;}
#home{color:white;padding:20px;font-weight:bold;}
#scientists{color:white;padding:20px;font-weight:bold;}